*{
    
    box-sizing: border-box;
}
body{
    background-color: black;
}

.content div{
    border:1px solid;
}
.medium{
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.b1{
    background-color: hotpink;
    text-align: center;
    width: 100%;

    
    
}
.b2{
    background-color: indianred;
    text-align: center;
    width: 25%;
    height: 130px;
    
}
.b3{
    background-color: indigo;
    text-align: center;
    height: 130px;
}
.b4{
    background-color: khaki;
    text-align: center;
    width: 25%;
    height: 130px;
}
.b5{
    background-color: lavender;
    text-align: center;
    width: 100%;
}
@media (max-width:600px) {
    .content{
        display: flex; flex-direction: column; 
        
    }
    .medium{
        display: flex; flex-direction: column;
    }
    .b2{
        width: 100%;
        order: 1;
        height: 80px;
    }
    .b4{
        width:100%;
        order:2;
        height: 80px;
    }
    .b3{
        order: 0;
        width: 100%;
        height: 180px;
    }
    body{
        background-color: lightgreen;
    }
}
  @media only screen and (max-width: 799px) and (min-width:601px){
    
    .medium{
     flex-wrap: wrap;
    
    }
    .b3{
        order: 0;
        width: 100%;
        height: 150px;
       
    }
    .b2{
        order: 1;
        width: 50%;
        height: 80px;
    
        
   } 
   .b4{
       order: 2;
     width: 50%;
     height: 80px;
    
    }
    body{
        background-color: lightpink;
    }
}